name: Deploy to Hostinger

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy to Biennale Container
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository Code
        uses: actions/checkout@v5

      - name: Deploy to Hostinger VM
        uses: hostinger/deploy-action@v1
        with:
          api-key: ${{ secrets.HOSTINGER_API_KEY }}
          virtual-machine: ${{ vars.HOSTINGER_VM_ID }}
